app/app/templates/includes/modal.html

<div class="bg-white p-6 rounded-lg shadow-lg w-80 relative">
    <button onclick="toggleProjectModal()" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">X</button>
    <h2 class="text-2xl font-semibold mb-4">{{ 'Editar Tarea' if task else 'Crear Tarea' }}</h2>
    <form action="{{ url_for('tasks.create') if not task else url_for('tasks.edit', task_id=task.id) }}" method="post" class="bg-white shadow-md rounded-lg p-6">
        <div class="mb-4">
            <label class="block font-semibold mb-2" for="title">Title</label>
            <input type="text" name="title" id="title" value="{{ task.title if task else '' }}" required class="border rounded w-full py-2 px-3">
        </div>
        <div class="mb-4">
            <label class="block font-semibold mb-2" for="description">Description</label>
            <textarea name="description" id="description" class="border rounded w-full py-2 px-3">{{ task.description if task else '' }}</textarea>
        </div>
        <div class="mb-4">
            <label class="block font-semibold mb-2" for="importance_level">Importance Level</label>
            <input type="number" name="importance_level" id="importance_level" value="{{ task.importance_level if task else 1 }}" class="border rounded w-full py-2 px-3">
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
            {{ 'Actualizar' if task else 'Crear' }}
        </button>
    </form>
</div>



